body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
}

* {
  box-sizing: border-box; /* Учитываем padding и border в ширине элементов */
}